<div class="container">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="text">
        <p id="p1">Dein Studium</p>
        <p id="p2">dein Studienplaner</p>
        <p id="p3">nie war Planen einfacher !</p>
    </div>

    <div class="photo">
        <img src="../../../assets/Homebild.jpg" alt="HomePhoto">
    </div>

    <div class="signs">
        <div id="signbuttons">
            <button routerLink="/getstarted">GET STARTED</button>
        </div>
    </div>

</div>