<div class="container">
    <div class="headerlink">
        <a routerLink="/home">
            <img id="logo" src="../../../assets/LogoCropped.png" alt="Logo">
        </a>
    </div>
    <div class="headerright">
        <div id="buttons">
            <button>Home</button>
            <button>Kontakt</button>
            <button>Über uns</button>
            <button>Tutorial</button>
        </div>
    </div>
    <div class="text">
        <p id="p1">Dein Studium</p>
        <p id="p2">dein Studienplaner</p>
        <p id="p3">nie war Planen einfacher !</p>
    </div>

    <div class="photo">
        <img src="../../../assets/Homebild.jpg" alt="HomePhoto">
    </div>

    <div class="signs">
        <div id="signbuttons">
            <button>Sign In</button>
            <button>Sign Up</button>
        </div>
    </div>
    <!---->
</div>