<!--
    <div class="container">

    <div class="nav-left">
        <a routerLink="/" routerLinkActive="active">
            <img class="logo" src="../../../assets/LogoCropped.png" alt="Logo">
        </a>
    </div>

    <div class="buttons">
       
        <button id="b1">Home</button>
        <button id="b2">Über uns</button>
        <button id="b3">Kontakt</button>
        <button id="b4">Tutorial</button>
    </div>
    <div class="signbuttons">
        <button id="b1">Home</button>
        <button id="b2">Über uns</button>
    </div>
</div>
 -->