<div class="container">
    <div class="headerlink">
        <div class="headerlink">
            <a routerLink="">
                <img id="logo" src="../assets/LogoCropped.png" alt="Logo">
            </a>
        </div>
    </div>
    <div class="topmenu">
        <button routerLink="/studienverlaufsplanempty">Studienverlaufspaln</button>
        <button routerLink="/stundenplan">Stundenplan</button>
        <button routerLink="/profil">Profil</button>
    </div>
    <div class="main">

    </div>
</div>