<div class="container">
    <div class="headerright">
        <app-header></app-header>

    </div>
    <div class="anmelden">
        <div class="textbox">
            <h1>
                <p>Anmelden / Registrieren</p>
            </h1>
        </div>
        <div class="form">
            <form> <!--</form>action="/node/v1/register" method="post"> --->
                <label for="email">E-Mail-Adresse:</label>
                <input type="email" [(ngModel)]="email" id="email" name="email" required><br><br>

                <label for="username">Benutzername:</label>
                <input type="text" [(ngModel)]="user" id="user" name="user" required><br><br>

                <label for="password">Passwort:</label>
                <input type="password" [(ngModel)]="password" id="password" name="password" required><br><br>
                <!--
                <input type="submit" value="Anmelden">
                <input type="submit" (click)="register()" value="Register">
                -->
                <button (click)="onSignUp()"> Register</button>

                <button type="submit"> Anmelden</button>
            </form>
            <div id="passvergessen">
                <a routerLink="/passvergessen"> Passwort vergessen?</a>
            </div>
        </div>

    </div>


    <div class="icons">
        <img id="icon1" src="../../../assets/icon1.jpg" alt="icon1">
        <img id="icon2" src="../../../assets/icon2.jpg" alt="icon2">
        <img id="icon3" src="../../../assets/icon3.jpg" alt="icon3">
        <button routerLink="/maintools"> zu main </button>
    </div>


</div>