<div class="container">
    <app-maintools> </app-maintools>

    <div class="main">
        <div class="leftmenu">
            <button routerLink="/studienverlaufsplan"> Plan erstellen</button>
            <button> plan bearbeiten</button>
            <button routerLink="/studienverlaufsplanempty"> plan löchen</button>
        </div>

        <div class="content">
            <table>
                <thead id="tablehead">
                    <tr>
                        <th>Semester</th>
                        <th>Name</th>
                        <th>SWS</th>
                        <th>ECTSe</th>
                        <th>Bestanden</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>



</div>