<div class="container">
    <div class="headerright">
        <app-header></app-header>

    </div>
    <div class="anmelden">
        <div class="textbox">
            <h1>
                <p>Anmelden / Registrieren</p>
            </h1>
        </div>
        <div class="form">
            <form>

                <label for="username">Benutzername:</label>
                <input type="text" id="user" name="user" [(ngModel)]="loginObj.user" required><br><br>

                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" [(ngModel)]="loginObj.password" required><br><br>
                <button type="submit" (click)="onLogIn()"> Anmelden</button>
                <button routerLink="/losgehtes"> nicht registered</button>
            </form>
            <div id="passvergessen">
                <a routerLink="/passvergessen"> Passwort vergessen?</a>
            </div>
        </div>

    </div>

    <div class="icons">
        <img id="icon1" src="../../../assets/icon1.jpg" alt="icon1">
        <img id="icon2" src="../../../assets/icon2.jpg" alt="icon2">
        <img id="icon3" src="../../../assets/icon3.jpg" alt="icon3">
    </div>


</div>