<div class="container">
    <app-maintools> </app-maintools>

    <div class="main">
        <div class="leftmenu">
            <button> Plan erstellen</button>
            <button> plan bearbeiten</button>
            <button routerLink="/studienverlaufsplanempty"> plan löchen</button>
        </div>

        <div class="content">
            <table>
                <thead id="tablehead">
                    <tr>
                        <th>Semester</th>
                        <th>Name</th>
                        <th>SWS</th>
                        <th>ECTSe</th>
                        <th>Bestanden</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Grundlagen Elektrotechnik 1</td>
                        <td>1</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Mathematik für Informatiker*innen 1</td>
                        <td>5</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Programmieren in Java 1</td>
                        <td>7</td>
                        <td>10</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Schlüsselkompetenzen 1</td>
                        <td></td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Englisch für Informatiker*innen</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mathematik für Informatiker*innen 2</td>
                        <td>7</td>
                        <td>10</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Programmieren in Java 2</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Schlüsselkompetenzen 2</td>
                        <td>3</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Programmieren in Python</td>
                        <td></td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Software-Engineering</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Objektorientierte Programmiertechniken</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Algorithmen und Datenstrukturen</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Webtechnologien 1</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td> Betriebssysteme</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Datenbanken</td>
                        <td>7</td>
                        <td>3</td>
                        <td><input type="checkbox"></td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Webtechnologien 2</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mathematik für Informatiker*innen 3</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>IT-Sicherheit</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mikrocontroller</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Ringvorlesung + Softwarepraktikum</td>
                        <td>4</td>
                        <td>20</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Projektmanagement</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Programmieren in C</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Wahlfach</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Wahlfach</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Theoretische Informatik</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Schlüsselkompetenzen 3 - Studium Plus</td>
                        <td>8</td>
                        <td>10</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Wahlfach</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Wahlfach</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Wahlfach</td>
                        <td>4</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Praxisphase</td>
                        <td>-</td>
                        <td>15</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Bachelorarbeit</td>
                        <td>-</td>
                        <td>12</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Kolloquium</td>
                        <td>-</td>
                        <td>3</td>
                        <td><input type="checkbox"></td>
                    </tr>



                </tbody>
            </table>
        </div>

    </div>



</div>