<div class="container">
    <app-maintools> </app-maintools>

    <div class="main">
        <div class="leftmenu">
            <button> Plan erstellen</button>
            <button> plan bearbeiten</button>
            <button> plan löchen</button>
        </div>

        <div class="content">
            <table>
                <thead id="tablehead">
                    <tr>
                        <th>Semester</th>
                        <th>Name</th>
                        <th>SWS</th>
                        <th>ECTSe</th>
                        <th>Bestanden</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Testeintrag</td>
                        <td>100</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>

                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>

                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>

                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>



                </tbody>
            </table>
        </div>

    </div>



</div>